* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #4e4e4e;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between; /* Ensures logo and nav are at the ends */
    align-items: center;
    padding: .8rem 3rem;
    color: purple;
    width: 100%;
    background-color: #0d0d0d;
}

.header {
    width: 100%;
    max-width: 1200px; /* Adjust as per your design */
    margin: 0 auto; /* Centers the header content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem !important;
    color: purple;
    font-family: 'Agbalumo', sans-serif;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.topbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.topbar li {
    margin: 0 1rem;
}

.topbar a {
    text-decoration: none;
    color: plum;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.topbar a:hover {
    color: antiquewhite;
}

.container {
    margin-top: 10rem;
    text-align: center;
    padding: 30px;
    background-color: #4e4e4e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 700px;
    width: 100%;
   
}

h1 {
    color: #ab47bc;
}

form {
    margin-top: 20px;
}

input[type="file"], input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    background-color: #ab47bc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ab47bc;
}

button a{
    color: white ;
    text-decoration: none;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: #0d0d0d;
    color: white;
}