<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="static/ribbon-solid.ico">
    <script src="https://kit.fontawesome.com/8751abb40d.js" crossorigin="anonymous"></script>
    <title>About Breast Cancer Classification</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <a href="/"><i class="fa-solid fa-ribbon"></i> CanSure</a>
            </div>
            <nav>
                <ul class="topbar">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1>About Breast Cancer Classification Project</h1>
        <p style="padding-bottom:30px;">This project classifies breast cancer using machine learning algorithms and image processing techniques. It analyzes medical images to distinguish between benign and malignant tumors, providing users with accurate predictions.</p>
        <h2>Key Features</h2>
        <ul style="text-align:justify;padding-bottom:30px;">
            <li>Advanced machine learning models for accurate classification</li>
            <li>Image processing to enhance and extract features from medical images</li>
            <li>User-friendly interface for easy image upload and prediction</li>
            <li>Comprehensive information on breast cancer symptoms, risk factors, and prevention</li>
        </ul>
        <h2>Goals</h2>
        <ul style="text-align:justify;padding-bottom:30px;">
            <li>Improve early detection for better treatment success</li>
            <li>Provide accurate diagnostics to support medical professionals</li>
            <li>Make diagnostic tools widely accessible</li>
        </ul>
        <h2>Usage</h2>
        <ol style="text-align:justify;padding-bottom:30px;">
            <li>Upload Image: Users can upload breast cancer X-ray images.</li>
            <li>Image Analysis: The system processes and analyzes the image.</li>
            <li>Prediction: The system classifies the image as benign or malignant.</li>
        <ol style="text-align:justify;">
        <h2 style="text-align:center;padding-top:30px;">Impact</h2>
        <ul>
            <li>Enhances diagnostic processes for better healthcare outcomes</li>
            <li>Raises awareness and educates users on breast cancer</li>
        </ul>
       
    </div>
</body>
</html>
